.accordion {
  padding-block-start: 15px;

  &__control {
    position: relative;
    padding-block: 6px;
    width: 100%;
    max-inline-size: 232px;
    text-align: left;
    cursor: pointer;
  }
}

.accordion__control:focus-visible .catalog-filters__title,
.accordion__control:hover .catalog-filters__title {
  color: clr(link-hover);
}

.accordion__control:focus-visible .catalog-filters__icon,
.accordion__control:hover .catalog-filters__icon {
  &::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23d87700'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 4.5l7.5 7.5-7.5 7.5' /%3E%3C/svg%3E");
  }
}

.accordion__content {
  overflow: hidden;
  padding: 0;
  max-block-size: 0;
  box-sizing: content-box;
  opacity: 0;
  transition-property: all;
  transition-duration: $duration-normal;
  will-change: max-height;
}

.open .catalog-filters__title {
  color: clr(link-hover);
}

.open .catalog-filters__icon {
  &::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23d87700'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 4.5l7.5 7.5-7.5 7.5' /%3E%3C/svg%3E");
    transform: rotate(90deg) translateX(-50%);
  }
}

.open .accordion__content {
  margin-block-start: 10px;
  padding-block-end: 30px;
  opacity: 1;
}
