.burger {
  $burger-width: 23px;
  $burger-height: 18px;
  $burger-line-height: 2px;

  position: relative;
  display: var(--nav-button-display, flex);
  flex: 0 0 $burger-width;
  order: 3;
  border: none;
  padding: 0;
  width: $burger-width;
  height: $burger-height;
  color: clr(light);
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    border-radius: 99em;
    width: 100%;
    height: $burger-line-height;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - $burger-line-height);
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 99em;
    width: 100%;
    height: $burger-line-height;
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  &:focus::after {
    opacity: 1;
  }

  &:hover:not(:focus-visible):not(:active) {
    color: clr(link-hover);
  }

  &--active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}

@media (min-width: 576px) {
  // .menu {
  //   --nav-button-display: none;
  //   --nav-position: static;
  // }

  // .menu__list {
  //   --nav-list-layout: row;
  //   --nav-list-position: static;
  //   --nav-list-padding: 0;
  //   --nav-list-height: auto;
  //   --nav-list-width: 100%;
  //   --nav-list-shadow: none;
  //   --nav-list-transform: none;
  //   --nav-list-visibility: visible;
  // }

  .menu + .menu__list {
    visibility: var(--nav-list-visibility, hidden);
    transform: var(--nav-list-transform, translateX(100%));
  }
}

.menu {
  // position: var(--nav-position, fixed);
}

// .menu__list {
//   position: var(--nav-list-position, fixed);
//   inset-inline-end: 0;
//   inset-block-start: 0;
//   display: flex;
//   flex-direction: var(--nav-list-layout, column);
//   justify-content: center;
//   visibility: var(--nav-list-visibility, visible);
//   gap: 0.9rem;
//   flex-wrap: wrap;
//   padding-inline: var(--nav-list-padding, 1rem);
//   width: var(--nav-list-width, 100vw);
//   height: var(--nav-list-height, 100vh);
//   box-shadow: var(--nav-list-shadow, -5px 0 11px 0 rgb(0 0 0 / 20%));
//   background-color: clr(grey-darker);
//   transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), visibility 0.3s linear;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .menu__list {
//     transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), visibility 0.3s linear;
//   }
// }

[aria-expanded="false"] + .menu__list {
  visibility: var(--nav-list-visibility, hidden);
  transform: var(--nav-list-transform, translateX(100%));
}

// .burger {
//   // all: unset;
//   // position: relative;
//   // z-index: 1;

// }
