.cart-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  &__start {
    width: 100%;
    max-inline-size: 675px;
  }

  &__end {
    display: grid;
    margin-block-end: 10px;
    width: 100%;
    max-inline-size: 350px;
  }
}
