.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block-end: 75px;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    color: rgb(255 255 255 / 60%);

    &:first-child {
      margin-inline-end: clamp(5px, 2vw, 30px);
    }

    &:last-child {
      margin-inline-start: clamp(5px, 2vw, 30px);
      color: clr(light);
    }

    &:nth-child(2) {
      margin-inline-end: clamp(5px, 3vw, 40px);
      background-image: url("../images/svg/mono/one-arrow.svg");
      background-position: center;
      background-size: 9px 14px;
      background-repeat: no-repeat;
    }

    &:nth-child(9) {
      margin-inline-start: clamp(5px, 3vw, 40px);
      background-image: url("../images/svg/mono/duble-arrow.svg");
      background-position: center;
      background-size: 17px 17px;
      background-repeat: no-repeat;
    }

    &:nth-child(5n) {
      @include bp-down(sm) {
        display: none;
      }
    }
  }

  &__link {
    border-radius: 5px;
    padding-block: 2px;
    padding-inline: 9px;
    height: 24px;
    font-weight: fw(400);
    font-size: clamp(12px, 3vw, 18px);
    line-height: 1;
    text-align: center;

    &:focus-visible {
      outline: 2px solid clr(neutral-orange-alpha);
      color: clr(light);
      transition: none;
    }

    &:hover {
      color: clr(link-hover);
    }
  }
}
