.checkout {
  &__form {

  }

  @include bp-up(sm) {
    .section__title {
      position: static;
      text-align: left;

      &::before {
        content: none;
      }

      &::after {
        @include pseudo;

        left: 0;
        margin-block-start: 7px;
        border-block-start: 2px solid #242424;
        width: 100%;
        max-inline-size: clamp(240px, 80%, 184rem);
      }
    }
  }
}

.form-checkout {
  &__block {
    display: flex;
    column-gap: 15px;
    justify-content: space-between;

    @include bp-down(md) {
      flex-wrap: wrap;
      row-gap: 20px;
    }
  }

  &__start {
    width: 100%;
    max-inline-size: 355px;

    .fullprice__caption {
      margin-block-end: 15px;
    }

    @include bp-up(md) {
      order: 2;
    }
  }

  &__end {
    width: 100%;
    max-inline-size: 465px;
  }
}

.checkout-steps {
  display: flex;
  flex-direction: column;
  row-gap: 50px;

  &__title {
    margin-block-end: 7px;
    font-weight: fw(400);
    font-size: clamp(14px, 3vw, 24px);
    line-height: 1.46;
    color: clr(light);

    span {
      color: rgb(255 255 255 / 13%);
    }
  }

  &__control {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 40px;
    gap: clamp(15px, 2vw, 25px);
  }

  &__label {
    position: relative;
    width: 100%;
    max-inline-size: 220px;
  }

  &__input {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    opacity: 0;
    visibility: hidden;

    &:checked {
      & + .checkout-field {
        border-color: clr(orange-light);
      }
    }
  }

  &__content {
    display: none;
    width: 100%;
  }
}

.checkout-steps__input:checked + .content-pickup {
  display: block;
}

#delivery:checked + .content-delivery {
  display: block;
}

.custom-radio {
  display: inline-block;
  cursor: pointer;
  user-select: none;

  &__input {
    position: absolute;
    inset-inline-start: 0;
    // opacity: 0;
    // visibility: hidden;
  }

  span {
    position: relative;
    display: flex;
    border: 2px solid #C4C4C4;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: #131218;
  }
}

.checkout-field {
  display: grid;
  column-gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: auto minmax(80px min-content);
  grid-template-rows: 30px 30px;
  border: 2px solid clr(grey-lighter);
  border-radius: 15px;
  padding: clamp(5px, 2vw, 13px);
  width: 100%;
  height: 82px;
  max-width: 220px;
  background-color: clr(grey-darker);

  &__img {
    width: 33px;
    height: 30px;
  }

  &__descr {
    font-size: clamp(10px, 2vw, 14px);
    line-height: 1.2;
    color: clr(grey-lightest);
  }

  &__note {
    align-self: center;
    grid-column: 2 span;
    grid-row: 2 / 3;
    font-size: clamp(10px, 2vw, 13px);
    line-height: 1.15;
    color: clr(neutral-light-alpha);

    @include bp-up(sm) {
      grid-column: 2 / 3;
    }
  }

  @include bp-down(sm) {
    row-gap: 7px;
  }

  &--payment {
    display: block;
    padding-block: clamp(10px, 2vw, 15px);
    padding-inline: 25px;
  }
}

.recipient-data {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__start {
    display: flex;
    gap: 8px;
  }

  &__end {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__input {
    &--big {
      height: 142px;
    }
  }
}
