.checked-content {
  display: none;
  justify-content: space-between;
  width: 100%;

  &__start {
    padding-inline-start: 5px;

    .route__descr {
      color: clr(neutral-light-alpha);
    }

    .route__descr--station {
      @include bp-down(sm) {
        color: clr(light);
      }
    }
  }

  &__item {
    display: grid;
    gap: 8px;

    &:nth-child(2) {
      @include bp-down(sm) {
        display: none;
      }
    }
  }

  &__address {
    @include bp-up(sm) {
      margin-block-end: 12px;
      font-style: normal;
      font-size: 18px;
      line-height: 1.11;
      color: clr(light);
    }

    @include bp-down(sm) {
      display: none;
    }
  }

  &__transport {
    @include bp-up(sm) {
      display: none;
    }
  }

  &__end {
    flex-shrink: 0;
    padding-inline-end: 5px;
  }

  &__map {
    overflow: hidden;
    border-radius: 100%;
    width: 150px;
    height: 150px;
  }

  &--active {
    display: flex;
  }
}
