.compare {
  display: grid;
  row-gap: 40px;

  @include bp-down(sm) {
    margin-block-start: 20px;
  }

  &__head {
    .compare__row {
      align-items: end;
      align-content: end;
      grid-auto-columns: minmax(102px, 240px);
      grid-template-columns: repeat(2, minmax(102px, 240px));

      @include bp-up(md) {
        grid-template-rows: min-content;
      }

      @include bp-down(md) {
        grid-template-rows: min-content 30px;
        padding-block-end: 25px;
      }
    }

    .compare__cell {
      display: grid;
      padding-block-end: 20px;
      padding-inline: 10px;
      height: 100%;
      row-gap: 15px;
    }

    &::after {
      @include pseudo;

      left: 0;
      border-block-start: 0.1em solid #242424;
      width: 100%;
      max-inline-size: clamp(240px, 65%, 184rem);

      @include bp-down(sm) {
        border-color: rgb(234 131 5 / 30%);
      }
    }
  }

  &__info {
    display: grid;
    align-content: space-between;
    justify-items: center;
    grid-template-rows: repeat(3, min-content);
    row-gap: 15px;

    @include bp-down(md) {
      grid-template-rows: 140px min-content;
    }

    .choices-product__img {
      @include bp-down(md) {
        height: 141px;
      }
    }
  }

  &__body {
    .compare__row {
      grid-auto-columns: minmax(min-content, 240px);
      padding-block: 7px;

      @include bp-up(md) {
        grid-template-columns: repeat(2, minmax(min-content, 240px));
      }

      @include bp-down(md) {
        grid-template-columns: 75px minmax(min-content, 240px);
      }
    }
  }

  &__group {
    &::after {
      @include pseudo;

      left: 0;
      border-block-start: 0.1em solid #242424;
      width: 100%;
      max-inline-size: clamp(240px, 65%, 184rem);

      @include bp-down(sm) {
        border-color: rgb(234 131 5 / 30%);
      }
    }
  }

  &__row {
    display: grid;
    column-gap: clamp(10px, 2vw, 35px);
    grid-auto-flow: column;
  }

  &__cell {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: rgb(255 255 255 / 80%);
  }

  &__btns {
    display: flex;
    row-gap: 8px;

    @include bp-up(md) {
      flex-direction: column;
      grid-row: 2 / 3;
    }
  }

  &__btn {
    padding-inline: clamp(10px, 3vw, 60px);
    font-weight: fw(400);
    font-size: clamp(12px, 2vw, 14px);
    color: rgb(255 255 255 / 80%);

    &--active {
      background-color: clr(orange-medium);
    }

    &--all {
      grid-column: 1 / 2;
      grid-row: 1;

      @include bp-up(md) {
        position: relative;
        bottom: 70px;
      }

      @include bp-down(md) {
        grid-column: 1 / 2;
        grid-row: 2;
      }
    }

    &--diff {
      grid-column: 1 / 2;
      grid-row: 1;

      @include bp-up(md) {
        margin-block-end: 20px;
      }

      @include bp-down(md) {
        grid-column: 2 / 3;
        grid-row: 2;
      }
    }

    @include bp-down(md) {
      height: 30px;
    }
  }

  &__name {
    overflow: hidden;
    margin: 0;
    font-size: clamp(12px, 2vw, 16px);
    text-align: center;

    @include bp-up(sm) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }

  &__remove {
    margin-block-start: auto;
  }
}

.compare-value {
  font-weight: fw(400);
  font-size: clamp(12px, 2vw, 18px);
  line-height: 1.16;
  text-align: left;
  color: clr(light);

  @include bp-down(sm) {
    color: #2a292e;
  }
}

.compare-price {
  font-weight: fw(400);
  font-size: clamp(12px, 2vw, 24px);
  line-height: 1.16;
  color: rgb(255 255 255 / 80%);
}
