.compare {
  display: grid;
  // grid-template-columns: repeat(4, 240px);
  // grid-template-rows: 250px 90px;
  row-gap: 40px;

  &__head {
    .compare__row {
      align-content: end;

      @include bp-up(md) {
        grid-template-rows: 366px;
      }

      @include bp-down(md) {
        grid-template-rows: 200px 30px;
      }
    }

    .compare__cell {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding-block-end: 20px;
      padding-inline: 10px;
      height: 100%;
      row-gap: 15px;
    }

    &::after {
      @include pseudo;

      left: 0;
      border-block-start: 0.1em solid #242424;
      width: 100%;
      max-inline-size: clamp(240px, 65%, 184rem);

      @include bp-down(sm) {
        border-color: rgb(234 131 5 / 30%);
      }
    }
  }

  &__body {
    .compare__row {
      padding-block: 7px;
    }
  }

  &__group {
    &::after {
      @include pseudo;

      left: 0;
      border-block-start: 0.1em solid #242424;
      width: 100%;
      max-inline-size: clamp(240px, 65%, 184rem);

      @include bp-down(sm) {
        border-color: rgb(234 131 5 / 30%);
      }
    }
  }

  &__row {
    display: grid;
    column-gap: 35px;
    grid-template-columns: repeat(4, minmax(102px, 240px));
  }

  &__cell {
    // max-inline-size: 240px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: rgb(255 255 255 / 80%);

    // &:nth-child(-n+3) {
    //   border-bottom: 2px solid #242424;
    // }

  }

  &__btns {
    display: flex;
    row-gap: 8px;

    @include bp-up(md) {
      flex-direction: column;
      grid-row: 2 / 3;
    }
  }

  &__btn {
    padding-inline: clamp(10px, 3vw, 60px);
    font-weight: fw(400);
    color: rgb(255 255 255 / 80%);

    &--active {
      background-color: clr(orange-medium);
    }

    &--diff {
      grid-column-start: 3;
      grid-row-start: 2;
    }
  }

  &__info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    flex-grow: 1;
    // overflow: hidden;
    margin: 0;
    font-size: clamp(12px, 4vw, 16px);
    text-align: center;

    // @include bp-up(sm) {
    //   display: -webkit-box;
    //   -webkit-box-orient: vertical;
    //   -webkit-line-clamp: 2;
    // }
  }

  &__remove {
    margin-block-start: auto;
  }
}

.compare-value {
  font-weight: fw(400);
  font-size: clamp(12px, 2vw, 18px);
  line-height: 1.16;
  text-align: left;
  color: clr(light);

  @include bp-down(sm) {
    color: #2a292e;
  }
}

.compare-price {
  font-weight: fw(400);
  font-size: clamp(12px, 2vw, 24px);
  line-height: 1.16;
  color: rgb(255 255 255 / 80%);
}
