.custom-select {
  $height: 24px;

  position: relative;

  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding-block: 3px;
    padding-inline: 21px;
    width: 100%;
    height: $height;
    font-weight: fw(400);
    font-size: 14px;
    line-height: 1.21;
    text-align: left;
    color: clr(neutral-light-alpha);
    background-color: rgb(196 196 196 / 30%);
    cursor: pointer;
  }

  &__placeholder {
    z-index: -1;
  }

  &__dropdown {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: $height;
    z-index: z(dropdown);
    display: none;
    overflow: hidden;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
    width: 100%;
    background-color: clr(grey-light);
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    display: none;
    background: transparent;
  }

  &__item {
    padding-block: 3px;
    padding-inline: 11px;
    font-weight: fw(400);
    font-size: 14px;
    line-height: 1.21;
    color: clr(neutral-light-alpha);
    cursor: pointer;

    &:hover {
      color: clr(light);
      background-color: clr(link-hover);
    }

    &.selected {
      color: clr(light);
      background-color: clr(link-hover);
    }
  }

  &.open {
    .custom-select__dropdown {
      display: block;
    }

    .custom-select__input {
      border-end-end-radius: 0;
      border-end-start-radius: 0;
    }

    .custom-select__backdrop {
      display: block;
    }
  }
}
