.delivery {
  &__list {
    @include flex-column;

    row-gap: 8px;
  }

  &__item {
    border: 1px solid clr(light);
    padding: 25px;
    width: 100%;
    min-block-size: 195px;
    background-color: clr(grey-darker);

    &--border-top {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }

    &--border-bottom {
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
    }

    @include bp-down(sm) {
      border-radius: 5px;
    }
  }

  &__title {
    margin-block-end: 10px;
    font-weight: fw(400);
    font-size: 24px;
    line-height: 1.45;
    color: clr(light);

    @include bp-down(sm) {
      font-size: 18px;
      color: clr(orange-light);
    }
  }

  &__descr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: clamp(20px, 4vw, 50px);
  }

  &__col {
    flex: 0 0 auto;
    width: 30%;
    max-inline-size: 200px;

    &:first-of-type {
      flex: 0 1 auto;
    }

    &:last-of-type {
      flex: 0 1 auto;
      max-inline-size: 300px;
    }
  }

  &__heading {
    margin-block-end: clamp(12px, 3vw, 17px);
    font-size: clamp(14px, 3vw, 18px);
    text-transform: uppercase;
    color: clr(neutral-light-alpha);

    @include bp-down(sm) {
      text-transform: lowercase;
    }
  }

  &__text {
    font-size: clamp(12px, 3vw, 14px);
    line-height: 1.42;
    color: clr(neutral-light-alpha);
  }

  &__detail {
    border-block-end: 0.2em dotted clr(orange-light);
    padding-block-end: 2px;
    font-size: 12px;
    color: clr(orange-light);

    @include bp-up(sm) {
      display: none;
    }
  }

  &__more {
    @include bp-down(sm) {
      display: none;
    }
  }
}
