.favorites-section {
  &__heading {
    font-weight: fw(400);
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: rgb(255 255 255 / 13%);

    &::after {
      @include pseudo;

      left: 0;
      border-block-start: 0.1em solid #242424;
      width: 100%;
      max-inline-size: clamp(240px, 58%, 184rem);
    }

    @include bp-down(sm) {
      display: none;
    }
  }

  &__item {
    &::after {
      @include pseudo;

      left: 0;
      border-block-start: 0.1em solid #242424;
      width: 100%;
      max-inline-size: clamp(240px, 58%, 184rem);
    }
  }

  @include bp-up(sm) {
    .section__title {
      display: none;
    }
  }

  @include bp-down(sm) {
    .section__title {
      margin-block-end: 5px;
    }
  }
}
