.favorites {
  position: relative;
  display: flex;
  column-gap: 9px;
  align-items: center;
  padding-block: 15px;

  &__link {
    position: absolute;
    inset-inline-end: 15px;
    inset-block-start: 15px;

    svg {
      width: 24px;
      height: 24px;
      fill: clr(link-hover);
      transition-property: fill;
      transition-duration: $duration-normal;
    }

    &:hover {
      svg {
        fill: clr(light);
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-inline-size: 594px;

    @include bp-down(sm) {
      flex-wrap: wrap;
      row-gap: 22px;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-inline-size: 251px;
  }

  &__name {
    margin-block-end: clamp(7px, 4vw, 13px);
    font-weight: fw(400);
    font-size: clamp(12px, 4vw, 18px);
    line-height: 1.16;
    text-transform: uppercase;
    color: clr(light);
  }

  &__more {
    font-size: 10px;
    line-height: 1.4;
    color: clr(orange-light);

    @include bp-up(sm) {
      display: none;
    }
  }

  &__characteristic {
    td {
      border-spacing: initial;
      font-size: clamp(10px, 2vw, 14px);
      line-height: 1.43;
      color: clr(neutral-light-alpha);

      @include bp-down(sm) {
        &:nth-child(even) {
          padding-inline-start: 5px;
        }
      }
    }

    @include bp-down(sm) {
      tr:nth-child(n+3) {
        display: none;
      }
    }
  }

  &__current {
    margin-block-end: clamp(2px, 1vw, 10px);
    font-size: clamp(12px, 4vw, 24px);
    line-height: 1.16;
    color: clr(light);

    @include bp-down(sm) {
      color: clr(orange-light);
    }
  }

  &__buy {
    margin-block-end: 14px;

    &:hover {
      background-color: clr(link-hover);
    }

    @include bp-down(sm) {
      margin: 0;
      padding-inline: 21px;
      height: 27px;
      font-size: 10px;
      color: clr(grey-darker);
    }
  }

  &__remove {
    border-block-end: 0.2em dotted currentColor;
    padding-block-end: 3px;
    font-size: 14px;
    line-height: 1;
    color: rgb(255 255 255 / 40%);

    &:hover {
      color: clr(link-hover);
    }

    @include bp-down(sm) {
      display: none;
    }
  }

  &__compare {
    // display: none;
    margin-block-start: 5px;
    font-size: 14px;
    line-height: 1;
    color: rgb(255 255 255 / 40%);

    &:hover {
      color: clr(link-hover);
    }
  }
}
