.form {
  display: flex;

  &__label {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

    &:has(:invalid) input {
      border-color: rgb(75% 9% 9% / 70%);
    }

    &:has(:invalid:not(:focus-visible)) input {
      animation: shake 1s;
    }

    &:has(:focus-visible) input {
      border-color: clr(neutral-invalid-alpha);
    }

    &:has(:valid) input {
      border-color: clr(neutral-invalid-alpha);
      background-color: clr(orange-medium);
    }

    &:has(:placeholder-shown) input {
      border-color: clr(neutral-light-alpha);
    }

    &:has(:placeholder-shown:not(:focus-visible)) input {
      animation: none;
    }
  }

  &__input {
    outline: none;
    border: 1px solid clr(neutral-light-alpha);
    border-radius: $border-radius;
    padding-block: 15px;
    padding-inline: 25px;
    width: 100%;
    height: 40px;
    font-size: clamp(12px, 4vw, 14px);
    background-color: transparent;
    transition: background-color $duration-normal;

    &::placeholder {
      color: clr(neutral-light-alpha);
    }

    &:focus-visible {
      background-color: clr(neutral-invalid-alpha);
    }

    &:hover:not(:focus-visible):not(:active) {
      @include device-pointer {
        background-color: clr(neutral-invalid-alpha);
      }
    }

    &--big {
      outline: none;
      padding-inline-start: 14px;
      padding-block: 15px;
      max-width: 100%;
      resize: none;
    }
  }

  // ответ кнопки на валидную форму

  &:valid [type="submit"] {
    border: none;
    color: clr(light);
    background-color: clr(orange-medium);
  }
}

.agree {
  font-style: italic;
  font-size: 14px;
  line-height: 1.42;
  text-decoration: underline;
  color: rgba(196 196 196 / 60%);

  @include bp-down(sm) {
    text-align: center;
  }
}
