.header {
  position: relative;

  // top

  &__top {
    &::after {
      @include pseudo;

      inset-inline-start: 0;
      border-block-start: 0.1em solid #242424;
      width: 100%;
      max-inline-size: clamp(575px, 96%, 184rem);
    }
  }

  &__container-fluid {
    @include flex-all-sb;

    padding-block: 7px;
  }

  &__location {
    @include bp-up(md) {
      width: 324px;
    }
  }

  &__social {
    @include bp-down(lg) {
      display: none;
    }
  }

  // bottom

  &__navbar {
    display: grid;
    column-gap: 15px;
    align-items: center;
    grid-auto-flow: column;
    padding-block: 20px 10px;

    &--main {
      grid-template-columns: 1fr auto 1fr;

      @include bp-down(sm) {
        grid-template-columns: 1fr repeat(2, min-content);
      }
    }

    &--inner {
      grid-template-columns: auto 2fr;
    }
  }

  &__logo {
    display: grid;

    &--main {
      .logo__img {
        @include bp-up(md) {
          width: 331px;
          height: 132px;
        }
      }
    }

    @include bp-down(sm) {
      order: -1;
    }
  }

  &__shop-nav {
    justify-content: flex-end;
  }

  &__menu {
    padding-block: 10px;
  }

  &__burger {
    &--main {
      @include bp-down(sm) {
        display: grid;
      }
    }

    &--inner {
      @include bp-down(56em) {
        display: grid;
      }
    }
  }
}
