.location {
  @include flex-v-center;
  @include font-brand;

  font-style: normal;
  font-size: clamp(12px, 3vw, 13px);
  line-height: 1.15;

  &__city {
    overflow: hidden;
    margin-inline-end: 15px;
    white-space: nowrap;
    color: clr(grey-dark);

    @include bp-down(sm) {
      display: none;
    }
  }

  &__value {
    overflow-wrap: break-word;
    color: clr(grey-light);
    transition-property: color;

    &:hover:not(:focus-visible):not(:active) {
      @include device-pointer {
        color: clr(link-hover);
      }
    }

    &:active {
      color: clr(link-active);
    }
  }
}
