.menu {
  position: var(--nav-position, fixed);
  display: flex;
  align-items: center;
  justify-content: center;

  &__list {
    position: var(--nav-list-position, fixed);
    inset-inline-end: 0;
    inset-block-start: 0;
    display: flex;
    flex-direction: var(--nav-list-layout, column);
    visibility: var(--nav-list-visibility, visible);
    gap: 0.9rem;
    flex-wrap: wrap;
    padding-inline: var(--nav-list-padding, 1rem);
    width: var(--nav-list-width, 100vw);
    height: var(--nav-list-height, 100vh);
    box-shadow: var(--nav-list-shadow, -5px 0 11px 0 rgb(0 0 0 / 20%));
    background-color: clr(grey-darker);

    @include reduced-motion-no-preference {
      transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), visibility 0.3s linear;
    }
  }

  &__item {
    word-break: break-all;
    color: clr(light);
  }

  &__link {
    overflow-wrap: break-word;
    font-weight: fw(400);
    font-size: 14px;
    text-align: center;

    &:focus-visible,
    &:hover:not(:active) {
      @include device-pointer {
        color: clr(link-hover);
      }
    }

    &:active {
      color: clr(orange-darker);
    }

    @include bp-down(sm) {
      font-size: 18px;
    }
  }

  &--active {
    z-index: 10;
  }

  &--main {
    @include bp-up(sm) {
      --nav-button-display: none;
      --nav-position: static;

      .menu__list {
        --nav-list-layout: row;
        --nav-list-position: static;
        --nav-list-padding: 0;
        --nav-list-height: auto;
        --nav-list-width: 100%;
        --nav-list-shadow: none;
        --nav-list-transform: none;
        --nav-list-visibility: visible;

        justify-content: center;
      }
    }

    @include bp-down(sm) {
      &.menu--active {
        .menu__list {
          --nav-list-transform: none;
          --nav-list-visibility: visible;
        }
      }

      .menu__list {
        padding-block-start: 130px;
        visibility: var(--nav-list-visibility, hidden);
        transform: var(--nav-list-transform, translateX(100%));
      }
    }
  }

  &--inner {
    @include bp-up(56em) {
      --nav-button-display: none;
      --nav-position: static;

      .menu__list {
        --nav-list-layout: row;
        --nav-list-position: static;
        --nav-list-padding: 0;
        --nav-list-height: auto;
        --nav-list-width: 100%;
        --nav-list-shadow: none;
        --nav-list-transform: none;
        --nav-list-visibility: visible;

        justify-content: center;
      }
    }

    @include bp-down(56em) {
      &.menu--active {
        .menu__list {
          --nav-list-transform: none;
          --nav-list-visibility: visible;
        }
      }

      .menu__list {
        padding-block-start: 130px;
        visibility: var(--nav-list-visibility, hidden);
        transform: var(--nav-list-transform, translateX(100%));
      }
    }
  }
}
