.packing {
  display: grid;
  grid-auto-rows: minmax(100px, 210px);
  gap: clamp(10px, 5vw, 20px);

  &__title {
    font-weight: fw(400);
    font-size: clamp(18px, 3vw, 36px);
    line-height: 0.97;
    text-transform: uppercase;
    color: clr(light);

    @include bp-down(md) {
      grid-row: 1 / 2;
    }
  }

  &__list {
    @include bp-up(md) {
      grid-column: 2 / -1;
    }

    @include bp-down(md) {
      grid-row: 3 / -1;
    }
  }

  &__item {
    position: relative;
    padding-inline-start: clamp(60px, 6vw, 81px);
    font-size: clamp(16px, 3vw, 24px);
    line-height: 1.45;

    &::before {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: calc(50% - 2px);
      display: block;
      width: clamp(44px, 5vw, 68px);
      background-color: clr(orange-light);
    }

    &:first-child::before {
      height: 6px;
    }

    &:last-child::before {
      height: 1px;
    }

    &:nth-child(2)::before {
      height: 5px;
    }

    &:nth-child(3)::before {
      height: 4px;
    }

    &:nth-child(4)::before {
      height: 3px;
    }

    &:nth-child(5)::before {
      height: 2px;
    }
  }

  &__text {
    margin-block: 25px;

    p {
      font-size: 14px;
      line-height: 1.42;
      color: clr(neutral-light-alpha);
    }
  }

  @include bp-up(md) {
    grid-template-columns: minmax(283px, 532px) minmax(min-content, 460px);
    grid-template-rows: minmax(37px, 68px) minmax(172px, 210px);
  }

  @include bp-down(md) {
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: minmax(37px, auto) minmax(172px, 1fr) minmax(140px, auto);
  }
}
