.product-price {
  @include flex-column;

  &__prev {
    position: relative;
    font-size: clamp(12px, 3vw, 14px);
    text-decoration: none;
    color: clr(grey-light);

    &::before {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: 6px;
      width: clamp(47px, 4vw, 54px);
      height: 1px;
      background-color: clr(grey-light);
      transform: rotate(10deg);
    }

    &:empty {
      &::before {
        width: 0;
        height: 0;
      }
    }
  }

  &__current {
    margin-block-end: auto;
    font-size: clamp(14px, 3vw, 18px);
    color: clr(light);
  }

  &__credit {
    margin-block-start: clamp(0px, 3vw, -3px);
    margin-block-end: 5px;
    font-size: clamp(10px, 3vw, 14px);
    text-transform: uppercase;
    color: clr(neutral-yellow-alpha);
  }
}
