.tabs-nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__btn {
    border-block-end-color: transparent;
    border-start-start-radius: 2px;
    border-start-end-radius: 2px;
    padding-block: 10px;
    padding-inline: 24px;
    font-weight: fw(400);
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: clr(neutral-light-alpha);
    background-color: clr(grey-darker);

    &--active {
      position: relative;
      z-index: 5;
      border: 1px solid clr(light);
      border-block-end-color: transparent;
      color: clr(neutral-yellow-alpha);
    }
  }
}

.tabs-item {
  display: none;

  &--active {
    display: block;
    width: 100%;
  }
}

.tabs-content {
  position: relative;
  inset-block-start: -1px;
  z-index: 1;
  border: 1px solid clr(light);
  border-radius: 30px;
  padding-block: 30px;
  padding-inline: 30px;
  width: 100%;
  height: 100%;
  min-block-size: 278px;
  background-color: clr(grey-darker);
}
