.services {
  &__list {
    display: grid;
    justify-content: center;
    gap: 20px;
  }

  &-page {
    padding-block-end: $offset;

    &__list {
      grid-template-columns: repeat(auto-fill, 250px);
    }
  }

  &-section {
    &__list {
      grid-template-columns: repeat(auto-fill, 300px);
      // grid-template-columns: repeat(auto-fill, minmax(141px, 1fr));

      // @include bp-down(sm) {
      //   grid-template-rows: repeat(2, 25px 97px) 25px;
      // }

      .card--trade {
        display: none;

        @include bp-down(xl) {
          display: flex;
        }
      }
    }

    // &__item:first-child {
    //   @include bp-down(sm) {
    //     grid-column: 1 / 2;
    //     grid-row: 1 / 3;
    //   }
    // }

    // &__item:nth-child(2) {
    //   @include bp-down(sm) {
    //     grid-column: 2 / 3;
    //     grid-row: 2 / 4;
    //   }
    // }

    // &__item:nth-child(3) {
    //   @include bp-down(sm) {
    //     grid-column: 1 / 2;
    //     grid-row: 4 / 6;
    //   }
    // }

    // &__item:last-child {
    //   @include bp-down(sm) {
    //     grid-column: 2 / 3;
    //     grid-row: 4 / 6;
    //   }
    // }
  }
}
