.shop-nav {
  @include flex;

  &__list {
    @include flex-v-center;

    gap: 15px;
  }

  &__item {
    font-weight: fw(400);
    font-size: 14px;
    color: clr(light);
  }

  &__link {
    position: relative;
  }
}

.cart,
.choices {
  display: flex;
  width: auto;
  height: auto;

  &__icon {
    @include bg-cover;
  }
}

.choices__icon {
  width: 23px;
  height: 22px;
  background-image: url("../images/svg/mono/choices.svg");
}

.cart__icon {
  width: 23px;
  height: 22px;
  background-image: url("../images/svg/mono/cart.svg");
}
