.show-more {
  display: none;
  margin-block-start: 20px;
  margin-inline: auto;

  svg {
    width: 30px;
    height: 30px;
    stroke: clr(light);
    transition: stroke $duration-normal $easing-out;
  }

  @include device-pointer {
    &:hover {
      svg {
        stroke: clr(neutral-light-alpha);
      }
    }
  }

  @include bp-down(md) {
    display: block;
  }
}
