.social {
  @include flex-v-center;

  flex-wrap: wrap;
  gap: clamp(20px, 2vw, 26px);

  &__link {
    display: block;
    border-radius: 100%;
    width: 22px;
    height: 21px;
    color: clr(grey-light);

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: clr(grey-light);
      object-fit: cover;
      transition: fill $duration-normal $easing-out;
    }

    &:focus-visible {
      color: clr(link-hover);

      svg {
        fill: currentColor;
      }
    }

    &:hover:not(:focus-visible):not(:active) {
      color: clr(link-hover);

      svg {
        fill: currentColor;
      }
    }

    &:active {
      color: clr(link-active);

      svg {
        fill: currentColor;
      }
    }
  }
}
