.view {
  position: relative;
  margin-block-end: 24px;
  padding-block-end: 24px;

  &__slider {
    position: relative;
    overflow: hidden;
    width: 950px;
    max-width: 100%;
  }

  &__slide {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    width: 300px;
  }

  &__list {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }

  &__item {
    overflow: hidden;

    img {
      width: 259px;
      height: 252px;

      @include bp-down(420px) {
        border-radius: 5px;
        width: 141px;
        height: 102px;
      }
    }
  }
}
